*{
  padding: 0;
  margin: 0;
  justify-content: center;
}
/* 
#settingTab{
  position: sticky;
  top: 800px;
  left: 10px;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  width: 8rem;
  height: 5rem;
} */

#toggle{
  padding: .3rem;
  margin: .3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#toggle > h3{
  padding-bottom: .2rem;
}

.colorChoice{
  padding: 0rem;
  margin: 0rem;
}

.colorButton{
  border: solid .2rem black;
  width: 2rem;
  height: 2rem;
  margin: .2rem;
}

/* .Grey > .appCont{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  color: black;
} */

.Dark > .appCont{
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  color: white;
}

.Light > .aboutCont{
  background-color: rgb(187, 187, 187);
  color: black;
}

.Grey > .aboutCont{
  background-color: rgb(187, 187, 187);
  color: black;
}

.Green > .aboutCont{ 
  background-color: rgb(95, 171, 70);
  color: black;
}

.Blue > .aboutCont{
  background-color: rgb(33, 212, 215);
  color: white;
}

.Red > .aboutCont{
  background-color: rgb(208, 32, 32);
  color: black;
}

.Yellow > .aboutCont{
  background-color: rgb(228, 207, 47);
  color: black;
}

.Tan >.aboutCont{
  background-color: rgb(228, 191, 128);
  color: black;
}

.Purple >.aboutCont{
  background-color: rgb(154, 89, 211);
  color: black;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4a5259;
}

input:focus + .slider {
  box-shadow: 0 0 1px #4a5259;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.appCont {
  margin: 0;
  padding: 0;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  /* border: solid 5px black; */
  /* margin: 0.5rem; */
  /* background-color: aqua; */
}

.Light > .projectCont {
  grid-column: 2 / 3;
  height: 97vh;
  padding: .5rem;
  margin-bottom: 2rem;
  /* border-left: 5px solid black; */
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

.Dark > .projectCont {
  grid-column: 2 / 3;
  height: 97vh;
  padding: .5rem;
  margin-bottom: 2rem;
  /* border-left: 5px solid white; */
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

.projectCont > h1 {
  padding-top: 1.5rem;
}
.projectCont > h2 {
  padding: 1rem 0rem;
}

a > iframe{
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 450px;
  border-radius: 30px;
  border-style: groove;
  border-width: 8px;
  border-color: rgba(125, 120, 120, 0.361);
  margin: 5px;
}

.aboutCont {
  grid-column: 1 / 2;
  height: 100%;
  padding: .5rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
}

.aboutCont > h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1.25rem;
}

.aboutCont > h2 {
  text-align: left;
  padding-top: .5rem;
  margin: -0rem .5rem;
  font-size: large;
  margin-top: 1.5rem;
}

.aboutCont > .headshot {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutCont > .headshot > img {
  border-radius: 50%;
}

.aboutCont > p {
  padding: 0px 2rem;
  font-size: large;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navItems {
  justify-content: center;
  align-items: center;
  text-align: left;
  display: inline-block;
  padding: 0.25rem 1rem;
  padding-left: 2.5rem;
}

.navItems > a > h1 {
  padding: 0.5rem 0rem;
}
