.appCont {
  display: grid;
  height: 97vh;
  grid-template-columns: 1fr 2fr;
  border: solid 5px black;
  margin: 0.5rem;
}

.projectCont {
  grid-column: 2 / 3;
  height: 95vh;
  padding: .5rem;
  margin-bottom: 2rem;
  border-left: 5px solid black;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow-y: scroll;
}

.projectCont > h1 {
  padding-top: 1.5rem;
}
.projectCont > h2 {
  padding: 1rem 0rem;
}

a > iframe{
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 320px;
  height: 450px;
  border-radius: 30px;
  border-style: groove;
  border-width: 8px;
  border-color: rgba(125, 120, 120, 0.361);
  margin: 5px;
}

.aboutCont {
  grid-column: 1 / 2;
  height: 95vh;
  padding: .5rem;
  margin-bottom: 2rem;
  overflow-y: scroll;
}

.aboutCont > h1 {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1.25rem;
}

.aboutCont > .headshot {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aboutCont > .headshot > img {
  border-radius: 50%;
}

.aboutCont > p {
  padding: 0px 2rem;
  font-size: large;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navItems {
  justify-content: center;
  align-items: center;
  text-align: left;
  display: inline-block;
  padding: 0.25rem 1rem;
  padding-left: 2.5rem;
}

.navItems > a > h1 {
  padding: 0.5rem 0rem;
}
